* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Test fixtures (binary files)
tests/Fixtures/media/* binary
tests/Fixtures/media/*.jpg binary
tests/Fixtures/media/*.mp4 binary
